/.clj-kondo/*
.eastwood
/log
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
TAGS
/.lsp/
/*.rpm
/check_monitor_ssh-linux-x86_64
/test/check_monitor_ssh/bats/
/check_monitor_ssh
